##### Company Database

In [1]:
import sqlite3

In [4]:
db=sqlite3.connect("Company Database.db")

In [5]:
cur=db.cursor()

In [6]:
cur.execute("create table Employee(eid int primarykey,Designation text,Salary int)")

In [7]:
cur.execute("insert into Employee(eid, Designation,Salary) values(121,'RM',42000)")
db.commit()

In [8]:
cur.execute("insert into Employee values(111,'SRM',52000),(131,'VP',92000),(141,'SVP',102000),(151,'RM',48000)")
db.commit()

In [10]:
r=cur.execute("select * from Employee")
for row in r:
    print(row)

(121, 'RM', 42000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [11]:
r=cur.execute("select * from Employee")
r.fetchall()

[(121, 'RM', 42000),
 (111, 'SRM', 52000),
 (131, 'VP', 92000),
 (141, 'SVP', 102000),
 (151, 'RM', 48000)]

In [12]:
r=cur.execute("select * from Employee")
r.fetchone()

(121, 'RM', 42000)

In [13]:
r=cur.execute("select eid from Employee")
r.fetchall()

[(121,), (111,), (131,), (141,), (151,)]

In [14]:
r=cur.execute("select eid from Employee")
for i in r:
    print(i)

(121,)
(111,)
(131,)
(141,)
(151,)

In [15]:
r=cur.execute("select eid,Designation from Employee")
for i in r:
    print(i)

(121, 'RM')
(111, 'SRM')
(131, 'VP')
(141, 'SVP')
(151, 'RM')

In [16]:
r=cur.execute("select Designation from Employee")
for i in r:
    print(i)

('RM',)
('SRM',)
('VP',)
('SVP',)
('RM',)

In [17]:
r=cur.execute("select Designation,Salary from Employee")
for i in r:
    print(i)

('RM', 42000)
('SRM', 52000)
('VP', 92000)
('SVP', 102000)
('RM', 48000)

In [18]:
r=cur.execute("select Salary,Designation from Employee")
for i in r:
    print(i)

(42000, 'RM')
(52000, 'SRM')
(92000, 'VP')
(102000, 'SVP')
(48000, 'RM')

In [19]:
r=cur.execute("select Salary from Employee where eid=131")
for i in r:
    print(i)

(92000,)

In [20]:
r=cur.execute("select Salary,Designation from Employee where eid=131")
for i in r:
    print(i)

(92000, 'VP')

In [21]:
r=cur.execute("select Designation from Employee where Salary=102000")
for i in r:
    print(i)

('SVP',)

In [22]:
r=cur.execute("select Designation from Employee where Salary=102000")
r.fetchone()

('SVP',)

In [27]:
r=cur.execute("select * from Employee where Salary=92000")
for i in r:
    print(i)

(131, 'VP', 92000)

In [30]:
r=cur.execute("select * from Employee where Salary=92000 and eid=131")
for i in r:
    print(i)

(131, 'VP', 92000)

In [34]:
r=cur.execute("select * from Employee where Salary>92000 and Salary>42000")
for i in r:
    print(i)

(141, 'SVP', 102000)

In [35]:
r=cur.execute("select * from Employee where Salary>92000 or Salary<42000")
for i in r:
    print(i)

(141, 'SVP', 102000)

In [36]:
r=cur.execute("select eid from Employee where Designation='RM' or Designation='QRM' ")
for i in r:
    print(i)

(121,)
(151,)

In [37]:
r=cur.execute("select Designation from Employee where eid=101 or eid=121 ")
for i in r:
    print(i)

('RM',)

In [39]:
r=cur.execute("select eid from Employee where Salary is not null ")
for i in r:
    print(i)

(121,)
(111,)
(131,)
(141,)
(151,)

In [40]:
r=cur.execute("select eid from Employee where Salary is null ")
for i in r:
    print(i)

In [43]:
r=cur.execute("select eid from Employee where Salary not in (42000) ")
for i in r:
    print(i)

(111,)
(131,)
(141,)
(151,)

In [45]:
r=cur.execute("select * from Employee where Designation not in ('RM') ")
for i in r:
    print(i)

(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)

In [76]:
r=cur.execute("select * from Employee where Salary between 52000 and 102001 ")
for i in r:
    print(i)

(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)

##### Aggregate Functions

#### Min,Max,Average,Sum,Count

In [46]:
r=cur.execute("select min(eid) from Employee")
for row in r:
    print(row)

(111,)

In [47]:
r=cur.execute("select min(eid) from Employee")
r.fetchone()

(111,)

In [48]:
r=cur.execute("select max(Salary) from Employee")
for row in r:
    print(row)

(102000,)

In [49]:
r=cur.execute("select max(Salary) from Employee")
r.fetchone()

(102000,)

In [50]:
r=cur.execute("select sum(Salary) from Employee")
r.fetchone()

(336000,)

In [71]:
r=cur.execute("select Avg(Salary) from Employee")
r.fetchone()

(67200.0,)

In [72]:
r=cur.execute("select Avg(eid) from Employee")
r.fetchone()

(131.0,)

In [56]:
r=cur.execute("select count(Salary) from Employee")
r.fetchone()

(5,)

In [58]:
r=cur.execute("select * from Employee")
for row in r:
    print(row)

(121, 'RM', 42000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [68]:
r=cur.execute("select * from Employee order by Designation asc")
for row in r:
    print(row)

(121, 'RM', 42000)
(151, 'RM', 48000)
(111, 'SRM', 52000)
(141, 'SVP', 102000)
(131, 'VP', 92000)

In [69]:
r=cur.execute("select * from Employee order by Salary Desc")
for row in r:
    print(row)

(141, 'SVP', 102000)
(131, 'VP', 92000)
(111, 'SRM', 52000)
(151, 'RM', 48000)
(121, 'RM', 42000)

In [70]:
r=cur.execute("select * from Employee order by eid asc")
for row in r:
    print(row)

(111, 'SRM', 52000)
(121, 'RM', 42000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [113]:
r=cur.execute("select * from Employee limit 2")
for row in r:
    print(row)

(121, 'RM', 100000)
(111, 'SRM', 100000)

In [114]:
r=cur.execute("select * from Employee limit 4")
for row in r:
    print(row)

(121, 'RM', 100000)
(111, 'SRM', 100000)
(131, 'VP', 92000)
(141, 'SVP', 102000)

In [115]:
r=cur.execute("select * from Employee limit 1")
for row in r:
    print(row)

(121, 'RM', 100000)

#### Like Operator

In [60]:
r=cur.execute("select * from Employee")
for row in r:
    print(row)

(121, 'RM', 42000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [94]:
r=cur.execute("select * from Employee  where eid like '_2%' ")
for row in r:
    print(row)

(121, 'RM', 42000)

In [95]:
r=cur.execute("select * from Employee  where eid like '__%' ")
for row in r:
    print(row)

(121, 'RM', 42000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [96]:
r=cur.execute("select * from Employee  where eid like '___' ")
for row in r:
    print(row)

(121, 'RM', 42000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [97]:
r=cur.execute("select * from Employee  where eid like '%' ")
for row in r:
    print(row)

(121, 'RM', 42000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [100]:
r=cur.execute("select * from Employee  where eid like '%2%' ")
for row in r:
    print(row)

(121, 'RM', 42000)

In [101]:
r=cur.execute("select * from Employee  where Designation like '___' ")
for row in r:
    print(row)

(111, 'SRM', 52000)
(141, 'SVP', 102000)

In [103]:
r=cur.execute("select * from Employee  where Designation like '__%' ")
for row in r:
    print(row)

(121, 'RM', 42000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [104]:
r=cur.execute("select * from Employee  where Designation like 's%' ")
for row in r:
    print(row)

(111, 'SRM', 52000)
(141, 'SVP', 102000)

In [106]:
r=cur.execute("select * from Employee")
for i in r:
    print (i)

(121, 'RM', 42000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

#### Updation

In [109]:
cur.execute("update Employee set Salary=30000 where eid=121")
db.commit()

In [110]:
r=cur.execute("select * from Employee")
for i in r:
    print (i)

(121, 'RM', 30000)
(111, 'SRM', 52000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [111]:
cur.execute("update Employee set Salary=100000 where eid in (121,111)")
db.commit()

In [112]:
r=cur.execute("select * from Employee")
for i in r:
    print (i)

(121, 'RM', 100000)
(111, 'SRM', 100000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

#### Deletion

In [118]:
cur.execute("Delete from Employee where eid=111")
db.commit()

In [119]:
r=cur.execute("select * from Employee")
for i in r:
    print (i)

(121, 'RM', 100000)
(131, 'VP', 92000)
(141, 'SVP', 102000)
(151, 'RM', 48000)

In [121]:
cur.execute("delete from Employee where eid in (121,151)")
db.commit()

In [122]:
r=cur.execute("select * from Employee")
for i in r:
    print (i)

(131, 'VP', 92000)
(141, 'SVP', 102000)

In [125]:
cur.execute("drop table Employee")
db.commit()

OperationalError: no such table: Employee

In [126]:
db.close()

In [127]:
db