##### FRIEND'S FOREVER DATABASE

In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("E:\\Python\\friends forever.db")

In [3]:
cur=db.cursor()

In [4]:
cur.execute("create table friends(roll int primary key,name text,age int)")

In [7]:
with open("friends_forever.csv") as f:
    for row in f:
        cur.execute("insert into friends values(?,?,?)",row.split(","))
        db.commit()

In [8]:
r=cur.execute("select * from friends")
for row in r:
    print(row)

(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 27)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 29)

In [11]:
cur.execute("update friends set age=25 where name='ASHUTOSH'")

In [12]:
r=cur.execute("select * from friends")
for row in r:
    print(row)

(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 29)

In [38]:
cur.execute("update friends set age=25 where name in ('ASHUTOSH','VIJAY')")
db.commit()

In [39]:
r=cur.execute("select * from friends")
for row in r:
    print(row)

(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 25)

In [40]:
r=cur.execute("select * from friends order by name asc")
for row in r:
    print(row)

(11, 'ABHISHEK', 29)
(15, 'ABHISHEK', 27)
(12, 'AMIT', 28)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(9, 'ASHUTOSH', 25)
(14, 'AVINASH', 27)
(19, 'BHASKAR', 26)
(13, 'DEEPAK', 29)
(7, 'FIROZ', 28)
(5, 'MANISH', 28)
(20, 'NITESH', 29)
(18, 'PRAKHAR', 29)
(8, 'RAHUL', 28)
(10, 'SATYAM', 28)
(3, 'SHIVAM', 27)
(6, 'SHIVNATH', 29)
(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(21, 'VIJAY', 25)
(4, 'VIKASH', 27)

In [41]:
r=cur.execute("select * from friends order by name desc")
for row in r:
    print(row)

(4, 'VIKASH', 27)
(21, 'VIJAY', 25)
(2, 'SUSHIL', 28)
(1, 'SUNNY', 28)
(6, 'SHIVNATH', 29)
(3, 'SHIVAM', 27)
(10, 'SATYAM', 28)
(8, 'RAHUL', 28)
(18, 'PRAKHAR', 29)
(20, 'NITESH', 29)
(5, 'MANISH', 28)
(7, 'FIROZ', 28)
(13, 'DEEPAK', 29)
(19, 'BHASKAR', 26)
(14, 'AVINASH', 27)
(9, 'ASHUTOSH', 25)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(12, 'AMIT', 28)
(11, 'ABHISHEK', 29)
(15, 'ABHISHEK', 27)

In [42]:
r=cur.execute("select * from friends where name like '____%'")
for row in r:
    print(row)

(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 25)

In [43]:
r=cur.execute("select * from friends where name like '____'")
for row in r:
    print(row)

(12, 'AMIT', 28)

In [44]:
r=cur.execute("select * from friends where name like '%____'")
for row in r:
    print(row)

(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 25)

In [45]:
r=cur.execute("select * from friends where name like '%__%__'")
for row in r:
    print(row)

(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 25)

In [46]:
r=cur.execute("select * from friends where name like 'a%' ")
for row in r:
    print(row)

(9, 'ASHUTOSH', 25)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)

In [47]:
r=cur.execute("select count(age) from friends ")
for row in r:
    print(row)

(21,)

In [48]:
r=cur.execute("select count(name) from friends ")
for row in r:
    print(row)

(21,)

In [49]:
r=cur.execute("select * from friends where name='gopal' or age=27 ")
for row in r:
    print(row)

(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)

In [50]:
r=cur.execute("select * from friends where name='gopal' and age=27 ")
for row in r:
    print(row)

In [51]:
r=cur.execute("select * from friends where name='ABHISHEK' and age=27 ")
for row in r:
    print(row)

(15, 'ABHISHEK', 27)

In [52]:
r=cur.execute("select * from friends where Age between 25 and 27 ")
for row in r:
    print(row)

(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(9, 'ASHUTOSH', 25)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(19, 'BHASKAR', 26)
(21, 'VIJAY', 25)

In [53]:
r=cur.execute("select * from friends where Age not in (27) ")
for row in r:
    print(row)

(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 25)

In [54]:
r=cur.execute("select * from friends where Age in (27) ")
for row in r:
    print(row)

(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)

In [55]:
r=cur.execute("select * from friends where Age is null ")
for row in r:
    print(row)

In [56]:
r=cur.execute("select * from friends where Age is not null ")
for row in r:
    print(row)

(1, 'SUNNY', 28)
(2, 'SUSHIL', 28)
(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 25)

In [59]:
cur.execute("delete from friends where roll in (1,3,5,7)")
db.commit()

In [60]:
r=cur.execute("select * from friends")
for row in r:
    print(row)

(2, 'SUSHIL', 28)
(3, 'SHIVAM', 27)
(4, 'VIKASH', 27)
(5, 'MANISH', 28)
(6, 'SHIVNATH', 29)
(7, 'FIROZ', 28)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 25)

In [61]:
cur.execute("delete from friends where roll in (1,3,5,7)")
db.commit()

In [62]:
r=cur.execute("select * from friends")
for row in r:
    print(row)

(2, 'SUSHIL', 28)
(4, 'VIKASH', 27)
(6, 'SHIVNATH', 29)
(8, 'RAHUL', 28)
(9, 'ASHUTOSH', 25)
(10, 'SATYAM', 28)
(11, 'ABHISHEK', 29)
(12, 'AMIT', 28)
(13, 'DEEPAK', 29)
(14, 'AVINASH', 27)
(15, 'ABHISHEK', 27)
(16, 'ASHISH', 29)
(17, 'ASHISH', 31)
(18, 'PRAKHAR', 29)
(19, 'BHASKAR', 26)
(20, 'NITESH', 29)
(21, 'VIJAY', 25)

In [63]:
cur.execute("drop table freinds")
db.commit()

OperationalError: no such table: freinds

In [67]:
db.close()